# Sensitive Information
.env
*.env.local
*.env.development.local

# Node.js Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C# Build files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE / Editor Folders
.vscode/
.idea/
.DS_Store

# Build/Dist Folders
dist/
build/
out/